/* Border box reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-family: $body-font-family;
  font-weight: 400;
  line-height: 1.6;
  color: $body-font-color;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

p,
ul,
ol,
dl {
  margin: 0 0 1.5rem 0;
}

li {
  margin: 0 0 .5rem 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 1.5rem 0;
}

h1 {
  font-size: 2rem;
  max-width: 90vw;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
}

@media screen and (min-width: $medium-screen) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.25rem;
  }
}

a {
  color: darken($primary, 10%);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.1rem;
  text-align: left;
  background: #fff;
  border-radius: 6px;
  a {
    font-weight: 800;
    color: $dark;
    font-size: 1.25rem;
  }
}

table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

tbody tr:hover {
  background: $alternate-background;
}

th {
  background: $dark;
  color: $light;
  padding: 1rem;
  font-size: 1.25rem;
  border-bottom: 2px solid $border-color;
  font-weight: 400;
}

td {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid $border-color;
  color: $medium;
}

tbody > tr:last-child > td {
  border-bottom: 0;
}


/* Containers */

.container {
  max-width: $container;
  padding: 0 $padding-mobile;
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  @extend .container;
  max-width: $small-container;
}

@media screen and (min-width: $medium-screen) {
  .container,
  .small-container {
    padding: 0 $padding;
  }
}


/* Hero */

.site-hero {
  margin-top: 60px;
  background: linear-gradient(to bottom right, $medium-dark, lighten($medium-dark, 7%));
  text-align: center;
  display: flex;
  align-items: center;
  min-height: calc(80vh - 60px);
  h1 {
    font-family: $heading-font-family;
    font-weight: 800;
    color: #fff;
  }
  p {
    font-size: 1.1rem;
    margin: 2.5rem 0;
    color: $light;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    font-weight: 800;
    color: lighten($primary, 7%);
    &:hover {
      text-decoration: none;
      color: #fff;
    }
  }
}

@media screen and (min-width: $medium-screen) {
  .site-hero {
    padding: 6rem 0;
    p {
      font-size: 1.2rem;
    }
  }
}


/* Sections */

.section {
  padding: $space-mobile 0;
}

.section-header {
  text-align: center;
  margin-bottom: $space-mobile;
  p {
    color: $medium;
  }
}

@media screen and (min-width: $medium-screen) {
  .section {
    padding: $space 0;
  }
  .section-header {
    margin-bottom: $space;
    p {
      font-size: 1.1rem;
    }
  }
}


/* Card */

.card {
  flex: 1;
  transition: all 200ms ease;
  padding: 2.5rem;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  margin: .5rem;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0px 6px 25px rgba(0, 0, 0, .1);
  }
  img {
    display: block;
    margin: 0 auto;
  }
  h3 {
    font-weight: 400;
    font-size: 1rem;
    margin: 2rem 0 0;
    text-align: center;
  }
}


/* Skills */

.skills {
  flex-wrap: wrap;
  .card {
    flex: 1 1 calc(50% - 1rem);
    img {
      max-width: 50px;
      border-radius: $border-radius;
    }
  }
}

@media screen and (min-width: $medium-screen) {
  .skills {
    .card {
      flex: 1 1 calc(25% - 1rem);
    }
  }
}


/* Experience */

.job {
  flex-direction: column;
  border-bottom: 1px solid $border-color;
  margin-bottom: 2rem;
  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.job-title {
  text-align: center;
  padding-bottom: $space-mobile;
}

.job-company {
  .dates {
    font-size: 1.1rem;
  }
}

.job-description {
  p {
    margin-bottom: 1.5rem;
  }
  h3 {
    text-align: center;
    font-weight: 800;
  }
}

@media screen and (min-width: $large-screen) {
  .job {
    flex-direction: row;
    padding: 2rem 0;
  }
  .job-title {
    text-align: left;
    flex: 0 1 200px;
    margin: 0 6rem 0 0;
  }
  .job-description {
    flex: 1;
    h3 {
      text-align: left;
    }
  }
}


/* Portfolio */

.portfolio {
  flex-wrap: wrap;
  a {
    color: $dark;
    &:hover {
      text-decoration: none;
    }
  }
}

.portfolio .card {
  padding: 1.5rem;
  flex: 1 1 100%;
}

@media screen and (min-width: $medium-screen) {
  .portfolio .card {
    padding: 2rem;
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: $large-screen) {
  .portfolio .card {
    padding: 3rem;
    flex: 1 1 calc(33% - 1rem);
  }
}


/* Footer */

.site-footer {
  text-align: center;
  padding: $space-mobile 0;
  background: $medium-dark;
  color: $light;
  p {
    font-size: 1.1rem;
    max-width: 500px;
    margin: 0 auto 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  span {
    font-weight: 400;
  }
}

@media screen and (min-width: $medium-screen) {
  .site-footer {
    padding: $space 0;
    h3 {
      font-size: 1.75rem;
    }
  }
}

.footer-bottom {
  text-align: center;
  padding: $space-mobile 0;
  background: $dark;
  color: darken($light, 15%);
  p {
    margin-bottom: 0;
  }
}