a.button,
[type=button],
[type=submit],
button {
  display: inline-block;
  -webkit-appearance: none;
  transition: background 500ms ease;
  background-image: linear-gradient(to right, $primary 0%, $secondary 51%, $primary 100%);
  background-size: 300% auto;
  color: white;
  border: none;
  border-radius: 6px;
  text-align: center;
  vertical-align: middle;
  padding: 1rem 1.75rem;
  font-size: 1.1rem;
  font-weight: 700;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, .1);
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background-position: right center;
  }
}

.button-secondary,
a.button-secondary {
  color: rgba(255, 255, 255, .8);
  border: 1px solid rgba(255, 255, 255, .2);
  background: linear-gradient(to top right, rgba(255, 255, 255, .01), rgba(255, 255, 255, .05));
  &:hover {
    color: #fff;
    border: 1px solid rgba(255, 255, 255, .3);
    background: linear-gradient(to bottom left, rgba(255, 255, 255, .03), rgba(255, 255, 255, .07));
  }
}