.site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: $dark;
  z-index: 200;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}

.nav-container {
  height: 60px;
  max-width: $container;
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  a {
    font-size: 1.1rem;
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

.nav-menu {
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: $dark;
  display: flex;
  flex-direction: column;
  font-size: 1.75rem;
  z-index: 100;
  transform: translate3D(100%, 0, 0);
  transition: transform 200ms linear;
  will-change: transform;
  &.open {
    transform: translate3D(0, 0, 0);
  }
  a {
    display: block;
    padding: .5rem 2rem;
    color: #fff;
    &:hover {
      background: darken($dark, 5%);
      text-decoration: none;
    }
  }
}

.nav-toggle {
  color: #fff;
  cursor: pointer;
}

.nav-mobile-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 $padding;
  .nav-toggle {
    color: #fff;
    font-size: 2rem;
    margin-left: auto;
  }
}

@media screen and (min-width: $medium-screen) {
  .nav-toggle,
  .nav-mobile-header {
    display: none;
  }
  .nav-menu {
    position: static;
    flex-direction: row;
    transform: none;
    background: transparent;
    a {
      padding: 0 1.25rem;
      color: $light;
      font-size: 1.1rem;
      &:hover {
        background: inherit;
        color: #fff;
      }
    }
  }
}